.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}
.btn-active {
    background-color: #000000;
}

.logo-brand {
    font-size: 1.8rem;
    font-weight: bold;
    background-color: rgb(241, 14, 90);
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}
.logo-brand a {
    color: white;
    font-weight: 500;
    text-decoration: inherit;
}   
.logo-brand:hover {
    background-color: rgb(36, 65, 230);
}   

.active-item {
    background-color: #f0f0f0;
    color: #000000;
}
.active-item:hover {
    background-color: #e0e0e0;
}
.active-item a {
    color: #333;
    text-decoration: none;
}
.active-item a:hover {
    text-decoration: underline;
}

.pending-item {
    color: #888;
    font-style: italic;
}

